/* Liliana Marçal */

@font-face{
  font-family: "MyFonTitlee";
  src: url("fonts/GothamBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: "MyFonTtext";
  src: url("fonts/GothamRegular.ttf");
  font-weight: normal;
  font-style: normal;
}
