@font-face{
  font-family: "MyFonTitlee";
  src: url("GothamBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: "MyFonTtext";
  src: url("GothamRegular.ttf");
  font-weight: normal;
  font-style: normal;
}
