@charset "UTF-8";
/* Liliana Marçal */
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Fim da reset*/
/* Liliana Marçal */
@font-face {
  font-family: "MyFonTitlee";
  src: url("fonts/GothamBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MyFonTtext";
  src: url("fonts/GothamRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Liliana Marçal */
/* Liliana Marçal */
.nome {
  font: 25px "MyFonTitlee", helvetica, arial, sans-serif;
  white-space: pre;
  color: black;
  padding-top: 5%;
  margin-left: 5%;
  position: absolute;
}

@keyframes cover {
  0% {
    opacity: 1;
    transform: translateX(-320px);
  }
  25% {
    opacity: 2;
    transform: translateX(-320px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.cover {
  animation: cover 3s ease-in 1;
  transform: translateX(0px);
  padding-left: 20%;
  width: 55%;
  height: 55%;
}

a:link, a:visited {
  cursor: auto;
  text-decoration: underline;
  color: white;
}

a:hover, a:active {
  cursor: auto;
  text-decoration: underline;
  color: white;
}

.menu {
  background-color: black;
  font: 22px "MyFonTitlee", helvetica, arial, sans-serif;
  color: white;
  height: 90px;
}

.menu:hover {
  background-color: #111696;
  transition: 0.6s ease-in;
}

.menu-fixo {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
}

.menu ul li {
  display: inline-block;
  margin-left: 10.4em;
  margin-top: 30px;
  padding: 6px;
}

#about, #mywork, #mycontacts {
  font: 45px "MyFonTitlee", helvetica, arial, sans-serif;
  padding-top: 15%;
  padding-left: 13%;
  padding-bottom: 10px;
  white-space: pre;
  text-transform: uppercase;
}

#mycontacts {
  padding-top: 10%;
}

.text p {
  padding: 3% 52% 0 1%;
  font: "MyFonTtext";
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  font-family: sans-serif;
  line-height: 23px;
  margin-left: 200px;
  padding-bottom: 30px;
  align-items: flex-start;
}

.text img:hover {
  cursor: cell;
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.text img {
  float: right;
  align-content: flex-end;
  border-top: 3px black solid;
  border-right: 3px black solid;
}

p.linkk {
  font: 22px "MyFonTitlee", helvetica, arial, sans-serif;
  padding-bottom: 1em;
  padding-left: 16%;
}

a.links:link, a.links:visited {
  cursor: auto;
  text-decoration: underline;
  color: #959595;
  transition: 0.6s ease-in;
}

a.links:hover, a.links:active {
  color: #1a1a1a;
}

.projects {
  padding: 0 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects img {
  width: 300px;
}

.contacts1, .contacts2, .contacts3 {
  font: 20px "MyFonTtext", Helvetica-Normal Regular, sans-serif;
  padding-top: 3px;
  padding-left: 16%;
}

.contacts3 {
  padding-bottom: 50px;
}

/* pagina projectos */
.proj1 h1, .proj2 h1, .proj3 h1, .proj4 h1, .proj5 h1, .proj6 h1, .proj7 h1, .proj8 h1, .proj9 h1 {
  font: 40px "MyFonTitlee", helvetica, arial, sans-serif;
  padding-top: 3%;
  padding-left: 8%;
  white-space: pre;
}

.proj1 p, .proj2 p, .proj3 p, .proj4 p, .proj5 p, .proj6 p, .proj7 p, .proj8 p, .proj9 p {
  padding: 1% 60% 0 8%;
  font: 14px "MyFonTtext", Helvetica-Normal Regular, sans-serif;
  line-height: 20px;
  padding-bottom: 20px;
}

.proj1 img, .proj2 img, .proj3 img, .proj4 img, .proj5 img, .proj6 img, .proj7 img, .proj8 img, .proj9 img {
  width: 30%;
  margin-top: 3em;
}

.img1 {
  padding-left: 60px;
}

/* responsive */
@media screen and (min-width: 320px) and (max-width: 374px) {
  .nome {
    font-size: 6px;
  }
  @keyframes cover {
    0% {
      opacity: 1;
      transform: translateX(-70px);
    }
    25% {
      opacity: 2;
      transform: translateX(-70px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .menu {
    font-size: 7px;
    height: 30px;
  }
  .menu-fixo {
    height: 30px;
  }
  .menu ul li {
    margin-left: 5.2em;
    margin-top: 4.8px;
    padding: 5px;
  }
  #about, #mywork, #mycontacts {
    font-size: 15px;
    padding-top: 8%;
    padding-left: 5%;
    padding-bottom: 7px;
  }
  #mycontacts {
    padding-top: 10%;
  }
  .text p {
    font-size: 7px;
    padding: 0 52% 0 2%;
    line-height: 9px;
    margin-left: 7px;
    padding-bottom: 20px;
  }
  .text img {
    width: 30%;
    margin-right: 18%;
  }
  p.linkk {
    font-size: 9px;
    padding-bottom: 6px;
    padding-left: 5%;
  }
  .projects {
    padding: 0 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .projects img {
    width: 70px;
  }
  .contacts1, .contacts2, .contacts3 {
    font-size: 10px;
    padding-top: 2px;
    padding-left: 9%;
  }
  .contacts3 {
    padding-bottom: 40px;
  }
  /* pagina projectos */
  .proj1 h1, .proj2 h1, .proj3 h1, .proj4 h1, .proj5 h1, .proj6 h1, .proj7 h1, .proj8 h1, .proj9 h1 {
    font-size: 20px;
    padding-top: 8%;
    padding-left: 12%;
  }
  .proj1 p, .proj2 p, .proj3 p, .proj4 p, .proj5 p, .proj6 p, .proj7 p, .proj8 p, .proj9 p {
    padding: 1% 30% 0 12%;
    font-size: 8px;
    line-height: 9px;
    padding-bottom: 5px;
  }
  .proj1 img, .proj2 img, .proj3 img, .proj4 img, .proj5 img, .proj6 img, .proj7 img, .proj8 img, .proj9 img {
    width: 28%;
    margin-top: 1em;
  }
  .img1 {
    padding-left: 20px;
  }
}

@media screen and (min-width: 375px) and (max-width: 799px) {
  .nome {
    font-size: 10px;
  }
  @keyframes cover {
    0% {
      opacity: 1;
      transform: translateX(-90px);
    }
    25% {
      opacity: 2;
      transform: translateX(-90px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .menu {
    font-size: 8.7px;
    height: 30px;
  }
  .menu-fixo {
    height: 30px;
  }
  .menu ul li {
    margin-left: 5.9em;
    margin-top: 5px;
    padding: 5px;
  }
  #about, #mywork, #mycontacts {
    font-size: 17px;
    padding-top: 8%;
    padding-left: 8%;
    padding-bottom: 9px;
  }
  #mycontacts {
    padding-top: 10%;
  }
  .text p {
    font-size: 8.2px;
    padding: 0 49% 0 6%;
    line-height: 9.5px;
    margin-left: 7px;
    padding-bottom: 20px;
  }
  .text img {
    width: 32%;
    margin-right: 8%;
  }
  p.linkk {
    font-size: 10.2px;
    padding-bottom: 6px;
    padding-left: 8%;
  }
  .projects {
    padding: 0 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .projects img {
    width: 85px;
  }
  .contacts1, .contacts2, .contacts3 {
    font-size: 11.2px;
    padding-top: 2px;
    padding-left: 12%;
  }
  .contacts3 {
    padding-bottom: 40px;
  }
  /* pagina projectos */
  .proj1 h1, .proj2 h1, .proj3 h1, .proj4 h1, .proj5 h1, .proj6 h1, .proj7 h1, .proj8 h1, .proj9 h1 {
    font-size: 19.5px;
    padding-top: 10%;
    padding-left: 12%;
  }
  .proj1 p, .proj2 p, .proj3 p, .proj4 p, .proj5 p, .proj6 p, .proj7 p, .proj8 p, .proj9 p {
    padding: 1% 30% 0 12%;
    font-size: 8.4px;
    line-height: 10px;
    padding-bottom: 5px;
  }
  .proj1 img, .proj2 img, .proj3 img, .proj4 img, .proj5 img, .proj6 img, .proj7 img, .proj8 img, .proj9 img {
    width: 29%;
    margin-top: 1.2em;
  }
  .img1 {
    padding-left: 18px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1023px) {
  .nome {
    font-size: 20px;
  }
  @keyframes cover {
    0% {
      opacity: 1;
      transform: translateX(-140px);
    }
    25% {
      opacity: 2;
      transform: translateX(-140px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .menu {
    font-size: 23px;
    height: 72px;
  }
  .menu-fixo {
    height: 72px;
  }
  .menu ul li {
    margin-left: 5.2em;
    margin-top: 15px;
    padding: 4px;
  }
  #about, #mywork, #mycontacts {
    font-size: 36px;
    padding-top: 8%;
    padding-left: 8%;
    padding-bottom: 9px;
  }
  #mycontacts {
    padding-top: 12%;
  }
  .text p {
    font-size: 22.3px;
    padding: 0 49% 0 7%;
    line-height: 24px;
    margin-left: 7px;
    padding-bottom: 40px;
  }
  .text img {
    width: 38%;
    margin-right: 8%;
  }
  p.linkk {
    font-size: 25px;
    padding-bottom: 15px;
    padding-left: 8%;
  }
  .projects {
    padding: 0 9%;
  }
  .projects img {
    width: 200px;
  }
  .contacts1, .contacts2, .contacts3 {
    font-size: 25px;
    padding-top: 3px;
    padding-left: 11%;
  }
  .contacts3 {
    padding-bottom: 85px;
  }
  /* pagina projectos */
  .proj1 h1, .proj2 h1, .proj3 h1, .proj4 h1, .proj5 h1, .proj6 h1, .proj7 h1, .proj8 h1, .proj9 h1 {
    font-size: 45px;
    padding-top: 10%;
    padding-left: 12%;
  }
  .proj1 p, .proj2 p, .proj3 p, .proj4 p, .proj5 p, .proj6 p, .proj7 p, .proj8 p, .proj9 p {
    padding: 1% 40% 0 12%;
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 5px;
  }
  .proj1 img, .proj2 img, .proj3 img, .proj4 img, .proj5 img, .proj6 img, .proj7 img, .proj8 img, .proj9 img {
    width: 29%;
    margin-top: 1.2em;
  }
  .img1 {
    padding-left: 45px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .nome {
    font-size: 26px;
  }
  @keyframes cover {
    0% {
      opacity: 1;
      transform: translateX(-150px);
    }
    25% {
      opacity: 2;
      transform: translateX(-150px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .menu {
    font-size: 27px;
    height: 82px;
  }
  .menu-fixo {
    height: 82px;
  }
  .menu ul li {
    margin-left: 5.2em;
    margin-top: 22px;
    padding: 6px;
  }
  #about, #mywork, #mycontacts {
    font-size: 38px;
    padding-top: 8%;
    padding-left: 8%;
    padding-bottom: 15px;
  }
  #mycontacts {
    padding-top: 12%;
  }
  .text p {
    font-size: 20px;
    padding: 0 49% 0 7%;
    line-height: 25px;
    margin-left: 7px;
    padding-bottom: 50px;
    padding-top: 1em;
  }
  .text img {
    width: 38%;
    margin-right: 8%;
  }
  p.linkk {
    font-size: 28px;
    padding-bottom: 17px;
    padding-left: 8%;
  }
  .projects {
    padding: 0 9%;
  }
  .projects img {
    width: 260px;
  }
  .contacts1, .contacts2, .contacts3 {
    font-size: 25px;
    padding-top: 3px;
    padding-left: 11%;
  }
  .contacts3 {
    padding-bottom: 85px;
  }
  /* pagina projectos */
  .proj1 h1, .proj2 h1, .proj3 h1, .proj4 h1, .proj5 h1, .proj6 h1, .proj7 h1, .proj8 h1, .proj9 h1 {
    font-size: 45px;
    padding-top: 10%;
    padding-left: 12%;
  }
  .proj1 p, .proj2 p, .proj3 p, .proj4 p, .proj5 p, .proj6 p, .proj7 p, .proj8 p, .proj9 p {
    padding: 1% 40% 0 12%;
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 5px;
  }
  .proj1 img, .proj2 img, .proj3 img, .proj4 img, .proj5 img, .proj6 img, .proj7 img, .proj8 img, .proj9 img {
    width: 30%;
    margin-top: 1.2em;
  }
  .img1 {
    padding-left: 48px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1920px) {
  .nome {
    font-size: 25px;
  }
  @keyframes cover {
    0% {
      opacity: 1;
      transform: translateX(-200px);
    }
    25% {
      opacity: 2;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .menu {
    font-size: 25px;
    height: 90px;
  }
  .menu-fixo {
    height: 90px;
  }
  .menu ul li {
    margin-left: 9.8em;
    margin-top: 30px;
    padding: 6px;
  }
  #about, #mywork, #mycontacts {
    font-size: 45px;
    padding-top: 8%;
    padding-left: 10%;
    padding-bottom: 15px;
  }
  #mycontacts {
    padding-top: 12%;
  }
  .text p {
    font-size: 18px;
    padding: 0 59% 0 8%;
    line-height: 22px;
    margin-left: 7px;
    padding-bottom: 80px;
    padding-top: 1em;
  }
  .text img {
    width: 38%;
    margin-right: 6%;
  }
  p.linkk {
    font-size: 22px;
    padding-bottom: 19px;
    padding-left: 8%;
  }
  .projects {
    padding: 0 10%;
  }
  .projects img {
    width: 320px;
  }
  .contacts1, .contacts2, .contacts3 {
    font-size: 20px;
    padding-top: 4px;
    padding-left: 12%;
  }
  .contacts3 {
    padding-bottom: 100px;
  }
  /* pagina projectos */
  .proj1 h1, .proj2 h1, .proj3 h1, .proj4 h1, .proj5 h1, .proj6 h1, .proj7 h1, .proj8 h1, .proj9 h1 {
    font-size: 40px;
    padding-top: 10%;
    padding-left: 12%;
  }
  .proj1 p, .proj2 p, .proj3 p, .proj4 p, .proj5 p, .proj6 p, .proj7 p, .proj8 p, .proj9 p {
    padding: 1% 40% 0 12%;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 5px;
  }
  .proj1 img, .proj2 img, .proj3 img, .proj4 img, .proj5 img, .proj6 img, .proj7 img, .proj8 img, .proj9 img {
    width: 30%;
    margin-top: 5em;
  }
  .img1 {
    padding-left: 57px;
  }
}

@media screen and (min-width: 1921px) and (max-width: 2560px) {
  .nome {
    font-size: 30px;
  }
  @keyframes cover {
    0% {
      opacity: 1;
      transform: translateX(-350px);
    }
    25% {
      opacity: 2;
      transform: translateX(-350px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .menu {
    font-size: 26px;
    height: 100px;
  }
  .menu-fixo {
    height: 100px;
  }
  .menu ul li {
    margin-left: 12em;
    margin-top: 32px;
    padding: 7px;
  }
  #about, #mywork, #mycontacts {
    font-size: 52px;
    padding-top: 8%;
    padding-left: 10%;
    padding-bottom: 25px;
  }
  #mycontacts {
    padding-top: 12%;
  }
  .text p {
    font-size: 20px;
    padding: 0 49% 0 8%;
    line-height: 47px;
    margin-left: 7px;
    padding-bottom: 90px;
    padding-top: 1em;
  }
  .text img {
    width: 38%;
    margin-right: 6%;
  }
  p.linkk {
    font-size: 30px;
    padding-bottom: 30px;
    padding-left: 8%;
  }
  .projects {
    padding: 0 10%;
  }
  .projects img {
    width: 450px;
  }
  .contacts1, .contacts2, .contacts3 {
    font-size: 30px;
    padding-top: 4px;
    padding-left: 12%;
  }
  .contacts3 {
    padding-bottom: 150px;
  }
  /* pagina projectos */
  .proj1 h1, .proj2 h1, .proj3 h1, .proj4 h1, .proj5 h1, .proj6 h1, .proj7 h1, .proj8 h1, .proj9 h1 {
    font-size: 42px;
    padding-top: 10%;
    padding-left: 12%;
  }
  .proj1 p, .proj2 p, .proj3 p, .proj4 p, .proj5 p, .proj6 p, .proj7 p, .proj8 p, .proj9 p {
    padding: 1% 40% 0 12%;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 5px;
  }
  .proj1 img, .proj2 img, .proj3 img, .proj4 img, .proj5 img, .proj6 img, .proj7 img, .proj8 img, .proj9 img {
    width: 30%;
    margin-top: 5em;
  }
  .img1 {
    padding-left: 57px;
  }
}
